# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ogs/
UserSettings/

# VSCode files
.vscode/

# Autres fichiers Unity spécifiques
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.pidb
*.user
*.userprefs
*.booproj